<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

<% if (currentUser && currentUser.membershipstatus === true) {%>
Memership Status: Fullmember
<% } else { %>
Memership Status: Not a member

<% } %> 

<% if (currentUser) { %> 
  <p>Welcome <%= currentUser.email %></p>
  <a href="/auth/logout">Logout</a>
  <a href="/auth/membership">Apply for membership</a>
<% } else { %>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Sign up</a>
<% } %>

<ul>
    <% messages.forEach(message => { %>
      <li>
        <h2> <%= message.messagetitle %> </h2>
        <p> Posted by: <%= message.firstname ? (message.firstname+ ' ' + message.lastname) : 'User name not visible unless logged in' %></p>
        <p><i> <%= message.messagetext %> </i></p>
        <p>Created at: <%=message.timecreated %> </p>

      </li>
      <% }); %>
   </ul>
  </body>
</html>